<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Monlift</servlet-name>
		<servlet-class>me.didia.monlift.MonliftServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Monlift</servlet-name>
		<url-pattern>/monlift</url-pattern>
	</servlet-mapping>
	<init-param>
		<param-name>com.sun.jersey.config.property.packages</param-name>
		<param-value>/monlift/src/me.didia.monlift.service.Service.java</param-value>
	</init-param>
	<init-param>
		
	</init-param>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
