#search-form
{
    margin-top: 50px;
}
.more-option
{
    margin:5px;
    margin-bottom: 50px;
}
.more-option span.icon
{
    font-size: 75%;
}
#driver-welcome
{
    margin-top: 25px;


}

.content2{

	border: 1px solid #6E7B8B;
	background-color: #6E7B8B;
}
#login-form
{
	margin-top: 50px;
}
#register
{
	margin-top: 50px;
}

#logo{
	background-color: green ;
}

.bar{
	background-color:#FF8C00;
}



.btn-block{
	background-color:#FF8C00;
	width: 360px;
	margin-left: 60px;

}