
#search-form
{
    margin-top: 50px;
}
.more-option
{
    margin:5px;
    margin-bottom: 50px;
}
.more-option span.icon
{
    font-size: 75%;
}
#driver-welcome
{
    margin-top: 25px;


}


#singin-form
{
	margin-top: 50px;
}
#register
{
	margin-top: 50px;
}

#logo{
	background-color: green ;
}

.bar{
	background-color:#FFF;
}


